<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hisnElMuslem.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
       >
        <activity android:name=".Activities.AzkarDetailsActivity"   android:theme="@style/AppTheme"></activity>
        <activity android:name=".Activities.AzkarActivity"  android:theme="@style/AppTheme" />
        <activity android:name=".Activities.AzanActivity"  android:theme="@style/AppTheme"/>
        <activity android:name=".Activities.HomeActivity"  android:theme="@style/AppTheme"/>

        <service
            android:name=".Services.AlarmService"
            android:enabled="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.hisnElMuslem.myapplication.Services.AlarmService" />
            </intent-filter>
        </service> <!-- Declaring broadcast receiver for BOOT_COMPLETED event. -->
        <receiver
            android:name=".Services.MyBroadcastreceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>